<h1>Edit Movie</h1>
<form action="/movies/<%= movie.id %>?_method=PUT" method="POST">
  <label for="title">Movie Title:</label>
  <input type="text" id="title" name="title" value="<%= movie.title %>" required />

  <label for="genre_id">Select Genre:</label>
  <select id="genre_id" name="genre_id">
    <% genres.forEach(genre => { %>
      <option value="<%= genre.id %>" <%= genre.id === movie.genre_id ? 'selected' : '' %>>
        <%= genre.name %>
      </option>
    <% }) %>
  </select>

  <button type="submit">Update Movie</button>
</form>
